.add-adress{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.add-adress:active{
    color: #333;
}
#adsList{
    font-size: 14px;
}
